params {
    mode = "only_train"
    save_msar = false
    input = null
    output = null
    publish_dir_mode = 'copy'
    //PASS parameters
    train_program = "/home/asmirnov/PASS/OLMPASSdoMNABase.exe"
    test_program = null
    min_level = 3
    max_level = 3
    class_limit = 3
    iap_limit = 0.7
    validate = true
    activity = "Activity"
}

profiles {
    cluster_podman{
        conda.enabled = true
        podman.enabled = true
        conda.createTimeout = '1 h'
        executor.queueSize = 30
    }
}
process{
    shell = ['/bin/bash', '-euo', 'pipefail'] 
    executor = 'slurm'
    withName: "TRAIN" {
        cpus = 0
        memory = 0
        publishDir = [
            [
                path: "${params.output}",
                mode: params.publish_dir_mode,
            ]
        ]
    }
}

manifest {
    name            = 'TCR-data pipelines'
    author          = """Anton S. Smirnov"""
    homePage        = 'https://gitlab.aldan3.itm-rsmu.ru/asmirnov/dissertation'
    description     = """Working for TCR and BCR receptors specifity predictions. PRNRMU"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0'
    doi             = "Unknown"
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.output}/pipeline_info/manifest_${trace_timestamp}.bco.json"
        }
    }
}
