params {
    input = "/home/asmirnov/dissertation/pipelines/inputs/list_of_available_db.csv"
    output = "/home/asmirnov/dissertation_new/tcr_pred_data"
    path_to_scripts = "/home/asmirnov/dissertation/scripts"
    path_to_converter = "/home/asmirnov/dissertation/tools/SequenceToSDF"
}

profiles {
    cluster {
        conda.enabled = true
        conda.createTimeout = '1 h'
        process.executor = 'slurm'
        executor.queueSize = 30
    }
}

process{
    shell  = ['/bin/bash', '-euo', 'pipefail']

    withLabel: "process_single" {
        cpus = 2
        memory = '32.GB'
        queue = "short"
        time = "40.m"
    }


    withName: "MERGE"{
        publishDir = [
            [
                path: { "${params.output}/csv" },
                mode: 'copy',
                pattern: "*.csv"
            ]
        ]

    }

    withName: "CALC_STAT"{
        cpus = 30
        memory = '64.GB'
        queue = "medium"
        time = "3.h"
        publishDir = [
            [
                path: { "${params.output}/statistics" },
                mode: 'copy',
                pattern: "*.db"
            ]
        ]

    }

    withName: "CONVERT" {
        ext.query_timeout = 30 //timeout for one record convertation in seconds
        cpus = 20
        memory = '64.GB'
        queue = "medium"
        time = "6.h"
        clusterOptions = "--constraint=hpc"
        publishDir = [
            [
                path: { "${params.output}" },
                mode: 'move',
                pattern: "*.sdf"
            ]
        ]

    }
}


manifest {
    name            = 'TCR-data pipelines'
    author          = """Anton S. Smirnov"""
    homePage        = 'https://gitlab.aldan3.itm-rsmu.ru/asmirnov/dissertation'
    description     = """Working for TCR and BCR receptors specifity predictions. PRNRMU"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0'
    doi             = "Unknown"
}


